/* general */
html {
  font-family: 'Inter', sans-serif;
}

section {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header */
header {
  display: flex;
  align-items:center;
  background-color: white;
}

.home-link {
  font-size: 32px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 70px;
  font-size: 24px;
}

/* main */

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  margin-top: 10%;
  margin-inline: 20%;
  text-indent: 50px;
}

h2 {
  display: inline;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}

.cypher-section {
  background-image: url(media/images/cypher.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
